* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

nav{
    background-color: blue;
    overflow: hidden;
    animation: moveright 1s linear;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes moveright {
    0% {
       transform: translateX(-100px);
       visibility: visible;
    }
    100% { 
       transform: translateX(0px);
       visibility: visible;
    }
}

nav a { text-decoration: none;
    padding: 20px;

     text-align: center;
     
     float: left;
     color: antiquewhite;
     cursor: text("Know more");
}
section {
    margin: 15px 30px ;
    font-size: 17px;
    padding: 8px;
background-color: antiquewhite;
    padding: 5px;
    border: 2px solid blue;
    animation: fade-in 1s forwards;
    animation-delay: 4s;
    visibility: hidden;
    animation-fill-mode: forwards;
    
}
@keyframes fade-in {
    0% {
       opacity: 0;
       visibility: visible;
    }
    100% { 
       opacity: 1;
       visibility: visible;
    }
}
section h2 {
    text-align: center;
    text-decoration: underline;
}
section legend {
    text-align: center;
}
section p
{
    text-align: left;
}
 section button[ type= "submit"]{
     background-color: blue;
     color: aliceblue;
     padding: 12px 20px;
     cursor: pointer;
 }
 footer {
    background-color: blue;
    overflow: hidden;
 }

 footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float:left ;
    color: antiquewhite;
 }
 

 footer address {
    cursor: text( " 188, Raja Subodh Chandra Mallick rd, Jadavpur University Campus Area, Jadavpur , Kolkata-32");
 }
 footer Email ID {
    cursor: text (" jaduniv.ieee@gmail.com");
 }
 .banner{
    background-image: url(sb1.png);
    height: 10vw;
    min-height: 20px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 20%;
    animation: movedown 1s linear;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
 }
 @keyframes movedown {
 0% {
    transform: translateY(-100px);
    visibility: visible;
 }
 100% { 
    transform: translateY(0px);
    visibility: visible;
 }
}
 header{
    background-color: blue;
 }

